.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide img{
  height: 450px;
}
.slide {
    min-width: 100%;
}
.slide:hover{
    transform: scale(1.10);
    transition: all 1s  ease;
  }

img {
    width: 100%;
    height: 100%;
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }



 



.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
h2 {
    color: #0080d6;
}
.slider-container {
    position: relative;
    overflow: hidden;
}
.movie-slider {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.movie-slider::-webkit-scrollbar {
    display: none;
}
.movie {
    min-width: 200px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.movie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.movie .info {
    padding: 10px;
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}












